{% extends 'base.html.twig' %} {% block title %}Note index{% endblock %} {%
block body %}
<div class="note_list">
    <header>
        <h1>Projets :</h1>
        {% if app.user %}
        <a href="{{ path('app_logout') }}"> Se déconnecter</a>
        {% endif %}
    </header>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Documents</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
            <tr>
                <td>{{ note.title }}</td>
                <td>{{ note.text }}</td>
                <td>{{ note.startDate ? note.startDate|date('d-m-Y') : '' }}</td>
                <td>{{ note.endDate ? note.endDate|date('d-m-Y') : '' }}</td>
                <td>{{ note.documents.count }}</td>
                <td class="actions">
                    <a href="{{ path('note_show', { id: note.id }) }}">Voir</a>
                    <a href="{{ path('note_edit', { id: note.id }) }}">Editer</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="new_project">
        <a href="{{ path('note_new') }}">+ Nouveau Projet</a>
    </div>

    {{ knp_pagination_render(notes) }}
</div>
{% endblock %}